################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ansible-provisional-project/copilot-chat/ea2ef4fd/sessions/d5784539-4553-4d78-9832-11ee48fc4f9e
